@reference "tailwindcss";

.cardHeader {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  text-align: center;
}

.headerLabel {
  @apply text-indigo-700;
  @apply font-semibold;
  margin-bottom: 12px;
}

.headerTitle {
  @apply font-semibold;
  @apply text-5xl;
  margin-bottom: 20px;
}

.headerSubtitle {
  @apply text-xl;
  @apply text-neutral-600;
  @apply font-normal;
}


@media screen and (max-width: 630px) {
  .headerTitle {
    @apply text-3xl;
  }

  .headerSubtitle {
    @apply text-lg;
  }
}
