@reference "tailwindcss";

.containerList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 40px;
}

@media screen and (max-width: 1100px) {
  .containerList {
    padding-left: 46px;
  }
}
